.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 40px;
  padding: 40px;
  width: 500px;
}

.phoneBookContainer{
  margin-bottom: 20px;
  width: 500px; 
}

.title{
  margin-bottom: 20px;  
}

.isLoadingMessage{
  margin-top: 10px;
  font-size: 20px;
}

.searchInput{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

label, input {
  font-size: 20px;
  font-weight: 300;
}

label {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}