.loginForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
}

.loginLabel, .loginInput {
  font-size: 16px;
  font-weight: 300;
}

.loginLabel {
  width: 50px;
  font-weight: 500;
}

.submitBtn {
  width: 120px;
  padding: 1px 3px;
  font-size: 16px;
  font-weight: 100;
  background: rgb(152, 231, 241);

  border: 1px solid darkslategrey;
  border-radius: 3px;
  cursor: pointer;
}

.submitBtn:hover{
  border: 1px solid rgb(152, 231, 241);
  background: darkslategrey;
  color: mintcream
}