.filterForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px;
}

.filterLabel {
  width: 50px;
  font-size: 16px;
  font-weight: 500;
}

.filterInput {
  font-size: 16px;
  font-weight: 300;
}