.list {
    margin-top: 10px;
}
.listItem {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

.listItem + .listItem {
    margin-top: 10px;
}

.contactName {
    width: 170px;
}

.contactNumber {
    width:  200px;
}