.list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px;
}
.listItem {
  display: flex;
  column-gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

/* .listItem + .listItem {
  margin-top: 10px;
} */

.contactName {
  width: 120px;
}

.contactNumber {
  width:  120px;
}

.deleteBtn {
  width: 45px;
  height: 18px;
  padding: 0px 2px;
  font-size: 10px;
  font-weight: 200;
  border: 1px solid darkslategrey;
  border-radius: 3px;
  cursor: pointer;
}
  
.deleteBtn:hover{
  font-weight: 400;
}